/*importing Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{font-family:'Noka', sans-serif;   margin: 0;    padding: 0;}

.container{
    margin: auto;
    margin-top: 20px;
    padding: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    /*text*/
    font-size: 20px;
    color: white;
    min-width: 360px;
    max-width: 60vw;
    height: 95vh;

    border-radius: 10px;
    border: 1px solid white;
    background: linear-gradient(0deg, #ec514c 0%, #fd731d 50%,#ff9500 100%);
    filter: drop-shadow(5px 5px 7px #00000050);
}
label{
    margin: auto;
    width: 50%;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.15;
}
.formItem{ 
    margin: 20px auto;
    padding: 10px;
    width: 75%;
    display: flex;
    border: 1px solid white;
    border-radius: 7px;
}
.interactive{
    display: flex;
    align-items: center;
    text-align: center;
    width: 120px;
}

input{
    background: transparent;
    width: 70px;
    height: 50px;
    margin:5px auto;
    border:0;

    /*Text*/
    color: white;
    font-family:'Poppin', sans-serif;
    font-weight: 800;
    text-align: center;
    font-size: 35px;
    transition: all .15s ease;
    
}::-webkit-outer-spin-button,
 ::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}input:focus{
    outline: none;
    font-size: 40px;
    height: 50px;
    width: 80px;
}
#opButton{
    color: white;
    width: 30px;
    height: 30px;
    border: 0;
    font-weight: 700;
    font-size: 20px;
    transition: all .3s;
}
#opButton:hover{
    transform: scale(1.5,1.5);
}
button{
    text-transform: uppercase;
    font-family: 'Noka', sans-serif;
    font-weight: 900;
    font-size: 20px;
    width: 200px;
    height: 50px;
    border: 0;
    border-radius: 7px;
    background-color: white;
}

#result{
    margin-top: 100px;
    text-align: center;
    font-family: 'Noka', sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: white;
}